
wikipedia
langchain-community
langchain-google-genai
google-generativeai
python-dotenv
duckduckgo-search
tqdm
streamlit
ddgs
pydantic>=2.0

langchain>=0.1.0
langchain-core>=0.1.0
langchain-google-genai  # for Gemini









