langchain
wikipedia
langchain-community
langchain-google-genai
google-generativeai
python-dotenv
pydantic
duckduckgo-search
tqdm
streamlit
ddgs
langchain>=0.1.0
langchain-core>=0.1.0
langchain-openai>=0.1.0





