langchain
wikipedia
langchain-community
langchain-google-genai
google-generativeai
python-dotenv
duckduckgo-search
tqdm
streamlit
ddgs
langchain>=0.2.0
langchain-openai>=0.1.0  


langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-google-genai>=2.0.0
pydantic>=2.0









